    <% layout('layouts/boilerplate') %> 
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Create a new campground</a>

    </div>
    <ul>
        <% for(let campground of campgrounds){ %> 
            <!-- ._id to show string query id -->
            <li><a href="campgrounds/<%= campground._id%>"><%= campground.title %></a></li>
        <% } %> 
    </ul>
